body {
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}

#container {
    text-align: left;
    padding: 1em;
    width: 50%;
    margin: auto;
    background-color: #010;
    border: deeppink 4px solid;
}