* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}

#container {
    text-align: left;
    width: 50%;
    margin: auto;
    background-color: #010;
    border: deeppink 4px solid;
}

#cabecera {
    background-color: deeppink;
    color: white;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1.75em;
    font-weight: 700;
}

#tagline {
    font-weight: 200;
    padding-left: 1em;
    font-size: .85em;
}

#post {
    padding: .5em 2em;
}